{% extends 'base.html' %}

{% block title %}
Disaster awareness
{% endblock title %}






{% block awarenessactive %}active{% endblock awarenessactive %}

{% block body %}


<div>


    <!-- Side navigation -->
    <div class="sidenav">
        <a href="#">Flood</a>
        <a href="#">Earthquake</a>
        <a href="#">aaaaa</a>
        <a href="#">bbbbb</a>
    </div>
        

    <!-- Page content -->
    <div>

        <h2> Awareness </h2>
        
    </div>



</div>



{% endblock body %}