{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block title %}
Blogs
{% endblock title %}

{% block css %}
<style>
  .container {
    min-height: 100vh;
  }
</style>
{% endblock css %}
{% block search %}
<div class="ml-auto form-inline">
  <form action='/search' method='get' class=" my-2 mx-3 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="query" id="query" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
{% endblock search %}
{% block body %}


<div class="container">

  <div class="jumbotron">
    <h1 class="display-4 ">Welcome to "The Geeks"</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/blogwrite" role="button">Write BLog</a>
  </div>

  <h3 class="my-3"> Explore your favourites</h3>
  {% for blog in blogs %}


  <div class="my-4 p-3 border">
    <p class="mb-0 "> Article by <a href="#">{{blog.author}}</a></p>
    <h4 class="text-dark"> <a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h4>
    <div>
      {{blog.short_desc|slice:200}}...
    </div>


    <a href="/blogpost/{{blog.slug}}" class="text-dark"><h5 style="color: blue;">Read More...</h5></a>
  </div>

  {% endfor %}

  <div class="my-3">
    {% if prev %}
    <button class="btn btn-primary"><a class="text-light" href="/bloghome?page={{prev}}">&laquo;Previous</a></button>
    {% else %}
    <button class="btn btn-primary"><a class="text-light" href="#">&laquo;Previous</a></button>
    {% endif %}


    {% if nxt %}
    <button class="btn btn-primary float-right"><a class="text-light" href="/bloghome?page={{nxt}}">Next
        &raquo;</a></button>
    {% else %}
    <button class="btn btn-primary float-right"><a class="text-light" href="#">Next &raquo;</a></button>
    {% endif %}
  </div>
</div>
{% endblock body %}