{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block title %}
Blogs
{% endblock title %}

{% block css %}
<style>
  .container {
    min-height: 100vh;
  }
</style>
{% endblock css %}
{% block search %}
<div class="ml-auto form-inline">
  <form action='/search' method='get'>
    <input class="form-control mr-sm-2" type="search" name="query" id="query" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
{% endblock search %}

{% block body %}


<div class="container">

  <div class="jumbotron" style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10); margin-top:20px">
    <h1 class="display-4 ">Welcome to the Blogs</h1>
    <p class="lead">Explore blogs on the topics of Artificial Intelligence and Disaster Management. Here you can also write your own blogs so other people can read and share.</p>
    <hr class="my-4">
    <p>Share your knowledge with other users by writing blogs and get featured on this page.</p>
    
    {% if user.is_authenticated %}

    <a class="btn btn-primary btn-lg" href="/blogwrite" role="button">Write BLog</a>
    <a class="btn btn-primary btn-lg" href="/myblogs/{{user}}" role="button">My BLogs</a>

    {% endif %}
  </div>

  <h3 class="my-3"> Explore your favourites</h3>
  {% for blog in blogs %}


  <div class="my-4 p-3 border" style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);">
    <p class="mb-0 "> Article by <a href="#">{{blog.author}}</a></p>
    <h4 class="text-dark"> <a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h4>
    <div>
      {{blog.short_desc|slice:200}}...
    </div>


    <a href="/blogpost/{{blog.slug}}" class="text-dark"><h5 style="color: blue;">Read More...</h5></a>
  </div>

  {% endfor %}
 
  <div class="my-3">
    {% if prev %}
    <button class="btn btn-primary"><a class="text-light" href="/bloghome?page={{prev}}">&laquo;Previous</a></button>
    {% else %}
    <button class="btn btn-primary"><a class="text-light" href="#">&laquo;Previous</a></button>
    {% endif %}


    {% if nxt %}
    <button class="btn btn-primary float-right"><a class="text-light" href="/bloghome?page={{nxt}}">Next
        &raquo;</a></button>
    {% else %}
    <button class="btn btn-primary float-right"><a class="text-light" href="#">Next &raquo;</a></button>
    {% endif %}
  </div>
</div>
{% endblock body %}