{% extends 'base.html' %}
{% block eventsactive %}active{% endblock eventsactive %}
{% block title %}
Events
{% endblock title %}

{% block additional_styles %}
<style>
   #div1 {
    display: {{display}};
   }
   #div2 {
    display: {{display2}};
   }
   #map{
       height: 400px;
       width: 100%;
   }
   .Earthquake {
        column-count: 2;
}
</style>
{% endblock additional_styles %}
{% block body %}

<div class="abc" id='div2'>
    <h3 style="text-align: center;margin: 3px;">Earthquake Events Visualization</h3>
<div class="container" style="margin-left: 1px;padding: 0;" id='form'>
    <form action="/Earthquake_Events/visual" method="POST">
        {% csrf_token %}
        <div class="form-group">
                <select name="country" id="country" style="width: 20%;">
                    <option value="all">All Countries</option>
                    {% for c in Country %}
                    <option value="{{c}}">{{c}}</option>
                    {% endfor %}
                </select>
        <button type="submit" class="btn btn-outline-primary">Filter</button>
        </div>
    </form>
</div>
<h5 style="margin: 3px;">All previous Earthquakes mapping</h5>
    <div id="map"></div>

    <h5 style="margin: 3px;">No. of Earthquake happens per year</h5>
    
        <div>
    <canvas id="No_of_Earthquakes" width="400" height="150"></canvas>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdnBgsXjTaRSv3_d5MOBpeCOuBghDWZK4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
   

       <h5 style="margin: 3px;">No. of Deaths happens per Earthquake</h5>

   <canvas id="No_of_Deaths" width="400" height="150"></canvas>

<br>
    <canvas id="No_of_Deaths_pie" width="400" height="150"></canvas>



   <h5 style="margin: 3px;">No. of Injureds happens per Earthquake</h5>

   <canvas id="No_of_Injureds" width="400" height="150"></canvas>

<br>
   <canvas id="No_of_Injureds_pie" width="400" height="150"></canvas>


   <h5 style="margin: 3px;">No. of Affected happens per Earthquake</h5>

   <canvas id="No_of_Affected" width="400" height="150"></canvas>

<br>
   <canvas id="No_of_Affecteds_pie" width="400" height="150"></canvas>



</div>
<!--Earthquake Events-->
<div class="abc" id='div1'>
   <h3 style="text-align: center;margin: 3px;">Earthquake Events</h3> 
<div style="margin-left: 90px;margin-right: 90px;">
   <iframe width="100%" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=EDCAC11E20956767%21435&authkey=%21ABWII62LoVw83Vo&em=2&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: { lat: 32.4392, lng: 74.4892 },
        });
        setMarkers(map);
      }
      // Data for the markers consisting of a name, a LatLng and a zIndex for the
      // order in which these markers should display on top of each other.
      const beaches = {{positions|safe}};

      function setMarkers(map) {
        // Adds markers to the map.
        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.
        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        const image = {
          url:
            "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32),
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        const shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: "poly",
        };

        for (let i = 0; i < beaches.length; i++) {
          const beach = beaches[i];
          new google.maps.Marker({
            position: { lat: beach[1], lng: beach[2] },
            map,
            icon: image,
            shape: shape,
            title: beach[0],
          });
        }
      }





var ctx = document.getElementById('No_of_Earthquakes').getContext('2d');
var No_of_Earthquakes = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'No. of Earthquake in Years',
            data: {{data|safe}},
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            },{
            label: 'Line Dataset',
            data: {{data|safe}},

            // Changes this dataset to become a line
            type: 'line',
            borderColor: 'rgba(54, 162, 235, 1)',
            fill: false,
            borderWidth: 2,
        }],
        labels: {{lebel|safe}},
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('No_of_Deaths').getContext('2d');
var No_of_Deaths = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'No. of Earthquake in Years',
            data: {{deaths|safe}},
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            },{
            label: 'Line Dataset',
            data: {{deaths|safe}},

            // Changes this dataset to become a line
            type: 'line',
            borderColor: 'rgba(54, 162, 235, 1)',
            fill: false,
            borderWidth: 2,
        }],
        labels: {{deaths_years|safe}},
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('No_of_Deaths_pie').getContext('2d');
var No_of_Deaths_pie = new Chart(ctx, {
    type: 'pie',
    data: {
        datasets: [{
            data: {{dead_count|safe}},
        backgroundColor: [
                    '#1a8604',
                    '#f61212',
                    '#0839f0',
                    '#fe7a04',
                    '#e9f308',
                ]
        }],
        labels: {{dead_label|safe}}
    },
});
var ctx = document.getElementById('No_of_Injureds_pie').getContext('2d');
var No_of_Injureds_pie = new Chart(ctx, {
    type: 'pie',
    data: {
        datasets: [{
            data: {{Injured_count|safe}},
        backgroundColor: [
                    '#1a8604',
                    '#f61212',
                    '#0839f0',
                    '#fe7a04',
                    '#e9f308',
                ]
        }],
        labels: {{Injured_label|safe}}
    },
});
var ctx = document.getElementById('No_of_Injureds').getContext('2d');
var No_of_Injureds = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'No. of Earthquake in Years',
            data: {{Injured|safe}},
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            },{
            label: 'Line Dataset',
            data: {{Injured|safe}},

            // Changes this dataset to become a line
            type: 'line',
            borderColor: 'rgba(54, 162, 235, 1)',
            fill: false,
            borderWidth: 2,
        }],
        labels: {{Injured_years|safe}},
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('No_of_Affected').getContext('2d');
var No_of_Affected = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'No. of Earthquake in Years',
            data: {{Affected|safe}},
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            },{
            label: 'Line Dataset',
            data: {{Affected|safe}},

            // Changes this dataset to become a line
            type: 'line',
            borderColor: 'rgba(54, 162, 235, 1)',
            fill: false,
            borderWidth: 2,
        }],
        labels: {{Affected_years|safe}},
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('No_of_Affecteds_pie').getContext('2d');
var No_of_Affecteds_pie = new Chart(ctx, {
    type: 'pie',
    data: {
        datasets: [{
            data: {{Affected_count|safe}},
        backgroundColor: [
                    '#1a8604',
                    '#f61212',
                    '#0839f0',
                    '#fe7a04',
                    '#e9f308',
                ]
        }],
        labels: {{Affected_label|safe}}
    },
});
</script>

{% endblock body %}
