{% extends 'base.html' %}
{% block estimationactive %}active{% endblock estimationactive %}
{% block title %}
Estimation
{% endblock title %}

{% block body %}

<div class="container my-3">
    <h2 class="text-center my-3">Estimation</h2>
    <form action="/estimation/" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Duration</label>
            <textarea class="form-control" id="Duration" name="Duration" rows="1" required></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Displaced</label>
            <textarea class="form-control" id="Displaced" name="Displaced" rows="1"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Severity</label>
            <textarea class="form-control" id="Severity" name="Severity" rows="1" required></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Affected Area</label>
            <textarea class="form-control" id="Affected Area" name="Affected Area" rows="1" required></textarea>
        </div>


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Magnitude</label>
            <textarea class="form-control" id="Magnitude" name="Magnitude" rows="1" required></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Centroid X</label>
            <textarea class="form-control" id="Centroid X" name="Centroid X" rows="1" required></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Centroid Y</label>
            <textarea class="form-control" id="Centroid Y" name="Centroid Y" rows="1" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% if pred %}
<div class="col-md-6 col-md-offset-3">
    <h3>Predicted Deaths : {{pred}}</h1>
</div>
{% endif %}

{% endblock body %}