{% extends 'base.html' %}
{% block eventsactive %}active{% endblock eventsactive %}
{% block title %}
Events
{% endblock title %}
{% block body %}
   <h3 style="text-align: center;margin: 3px;">Previous Events</h3> 
<div style="margin-left: 90px;margin-right: 90px;">
<iframe width="100%" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=EDCAC11E20956767%21431&authkey=%21AGkwst8aJtwnYtM&em=2&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
</div>
 

{% endblock body %}
