{% extends 'base.html' %}
{% block eventsactive %}active{% endblock eventsactive %}
{% block title %}
Events
{% endblock title %}

{% block additional_styles %}
<style>
   #div1 {
    display: {{display}};
   }
   #div2 {
    display: {{display2}};
   }
</style>
{% endblock additional_styles %}
{% block body %}
<!--Flood Events-->
<div class="abc" id='div1'>
   <h3 style="text-align: center;margin: 3px;">Flood Events</h3> 
<div style="margin-left: 90px;margin-right: 90px;">
<iframe width="100%" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=EDCAC11E20956767%21431&authkey=%21AGkwst8aJtwnYtM&em=2&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
</div>
</div>

<div class="abc" id='div2'>
   <h3 style="text-align: center;margin: 3px;">Flood Events Visualization</h3>
    <canvas id="myChart" width="400" height="150"></canvas>
</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{year}},
        datasets: [{
            label: 'No. of Flood in Years',
            data: {{count}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>




{% endblock body %}
