{% extends 'base.html' %}
{% block additional_styles %}
<style>	
body{
		background-image: url("/static/images/home1.jpg");
		background-size: 100% auto;
		margin: 0px;
		padding: 0px;
	}
</style>
{% endblock %}


{% block body %} 


{% block footer %}
<footer class='footer'>
{% endblock footer %}


{% if messages %}
{% for message in messages %}
    <div class="alert alert-primary my-0" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}


{% endblock body %}