
<style>
body, html {
height: 100%;
margin: 0;
}
.background {
background-image: url("/static/images/home1.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>



{% block body %} 

<div class="background"></div>




{% if messages %}
{% for message in messages %}
    <div class="alert alert-primary my-0" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}


{% endblock body %}