{% extends 'base.html' %}
{% block additional_styles %}
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }


    .column {
        flex: 50%;
        padding: 80px;
        height: auto;
    
    }
    .column + .column {
    border-left: solid 2px rgb(138, 155, 92);
    height: 40hv;
}
</style>
{% endblock %}
{% block loginhide %}hidden{% endblock loginhide %}
{% block signuphide %}hidden{% endblock signuphide %}
{% block body %}

<div>
    <div class="row">
        
        <div class="column" style="background-color:#f9f9f9;">
            <h2>Login</h2>
            <!-- Login Modal -->
            <form action="/login/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="loginusername">Username</label>
                    <input type="text" class="form-control" id="loginusername" name="loginusername"
                        placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>


        
        <div class="column" style="background-color:#f9f9f9;">
            <h2>SignUp</h2>
            <form action="/signup/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Enter a unique username(length under 5 to 10)" required>
                </div>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name"
                        required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name"
                        required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                        required>
                </div>
                <div class="form-group">
                    <label for="pass1">Password</label>
                    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Password"
                        required>
                </div>
                <div class="form-group">
                    <label for="pass2">Confirm Password</label>
                    <input type="password" class="form-control" id="pass2" name="pass2"
                        placeholder="Enter Password Again" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
{% endblock body %}