{% extends 'base.html' %}
{% block adminactive %}active{% endblock adminactive %}
{% block title %}
Profile
{% endblock title %}


{% block additional_styles %}
<style>
  .header {
    padding: 100px;
    text-align: center;
    height: 55px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ab {
    text-align: center;
    padding-top: 100px;
  }

  .kbio {
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border: #777 1px solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    margin-right: 200px;
    margin-left: 200px;
  }

  .bio {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
  }


  .kbio label {
    left: 0px;
    padding: 0px 5px;
    background-color: white;
    color: #666;
    position: absolute;
    transform: scale(.75) translateY(-15px);
  }

  .column {
    padding-top: 22px;
    padding-right: 22px;
    padding-left: 22px;
    float: left;
    width: 50%;
    clear: both;
  }

  p {
    padding: 0px;
    margin: 0px;
  }

  /* Clear floats after the columns */
  .row:after {
    margin: 4px;
    content: "";
    display: table;
    clear: both;
  }

  .editbtn {
    text-align: right;
    margin-right: 200px;
    margin-bottom: 10px;
  }

  #div2 {
    display: none;
  }
</style>
{% endblock additional_styles %}


{% block body %}


<div class="abc" id='div1'>

  <div class="header">


    <div>
      <img src="{{profile.files.url|default_if_none:'#'}}" alt="Avatar" width="200" height="200">
    </div>
  </div>



  <div class="ab">
    <h4>{{user.first_name}}
      {{user.last_name}}
    </h4>

  </div>


  <br>



  <div class="kbio">
    <label>Your Bio</label>
    <div class="bio">
      <p>{{profile.bio}} </p>
    </div>
  </div>
  <br>



  <div class="kbio">
    <label>Your Info</label>


    <div class="row">

      <div class="column">

        <h6>Username:</h6>
        <h6>First Name:</h6>
        <h6>Last Name:</h6>
        <h6>E-mail:</h6>

      </div>



      <div class="column">

        <p>{{user.username}}</p>
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <p>{{user.email}}</p>

      </div>


    </div>
  </div>


  <div class="editbtn">
    <a onclick="show1()" class="btn btn-primary" role="button" style="color: #fff;">Edit</a>
  </div>

</div>




<!-- 2nd div-->

<form action="/myprofile/{{user.username}}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="abc" id='div2'>

    <div class="header">


      <div>
        <img src="{{profile.files.url|default_if_none:'#'}}" alt="Avatar" width="200" height="200">
          
      </div>
      
    </div>



    <div class="ab">
      <h4>{{user.first_name}}
        {{user.last_name}}
      </h4>

    </div>


    <br>


    <div class="kbio">
      <label>Your Bio</label>
      <div class="bio" style="margin-bottom: 5px;">
        <textarea class="form-control" id="bio" name="bio" placeholder="Write something about you."
          rows="1"> {{profile.bio}}</textarea>
      </div>
    </div>
    <br>

    <div class="kbio">
      <label>Profile Image</label>
      <div class="bio" style="margin-left: 10px;margin-bottom: 5px;margin-top: 8px;">
        <input type="file" name="profile" title="Upload Image" style="cursor: pointer;">
      </div>
    </div>
    <br>
    


    <div class="kbio">
      <label>Your Info</label>


      <div class="row">

        <div class="column" style="margin-top: 15px;">
          <h6>Username:</h6><br>
          <h6>First Name:</h6><br>
          <h6>Last Name:</h6><br>
          <h6>E-mail:</h6><br>
          <h6>New Password:</h6><br>
          <h6>Confirm Password:</h6>

        </div>



        <div class="column">
          <textarea class="form-control" id="username" name="username" rows="1">{{user.username}}</textarea><br>
          <textarea class="form-control" id="f_name" name="f_name" rows="1">{{user.first_name}}</textarea><br>
          <textarea class="form-control" id="l_name" name="l_name" rows="1">{{user.last_name}}</textarea><br>
          <textarea class="form-control" id="email" name="email" rows="1">{{user.email}}</textarea><br>
          <input class="form-control" id="pass1" name="pass1" type="Password" placeholder="Enter New password"
            rows="1"></textarea><br>
          <input class="form-control" id="pass2" name="pass2" type="Password" placeholder="Confirm password"
            rows="1"></textarea>
        </div>


      </div>
    </div>


    <div class="editbtn">
      <button type="submit" class="btn btn-primary">Save</button>
</form>
<a onclick="show2()" class="btn btn-primary" role="button" style="color: #fff;">Cancel</a>
</div>

</div>


<script>
  function show1() {
    document.getElementById('div1').style.display = 'none';
    document.getElementById('div2').style.display = 'block';
  }
  function show2() {
    document.getElementById('div1').style.display = 'block';
    document.getElementById('div2').style.display = 'none';
  }
</script>




{% endblock body %}