{% extends 'base.html' %}
{% block newsactive %}active{% endblock newsactive %}
{% block title %}
News
{% endblock title %}
{% block additional_styles %}
<style>
   button{
       margin: 2%;
   }
   p{
       margin: 0;
   }
</style>
{% endblock additional_styles %}
{% block body %}

<div class='mt-3'>

<h2 style='text-align:center;'><i>Latest Disasters News </i></h2>
<p style='text-align:center;'><i> Here You can read about latest disasters occured aroung the world </i></p>


{% for headline,discription, country, date,type,status in data %}

<div class="m-4 p-3 border">
    <table style="width:100%">
        <tr>
          <th>Country: </th>
          <th>Date & Time: </th> 
          <th>Disaster Type: </th>
          <th>status: </th>
        </tr>
        <tr>
            <td>{{country}}</td>
            <td>{{date}}</td> 
            <td>{{type}}</td>
            <td>{{status}}</td>
        </tr>
      </table>
    <h3>Headline:</h3>
    <p>{{headline}}</p>
    <h4>Discription:</h4>
    <p>{{discription|safe|slice:300}}</p>
</div>



{% endfor %}
<div class="my-3">
    {% if prev %}
    <button class="btn btn-primary"><a class="text-light" href="/news?page={{prev}}">&laquo;Previous</a></button>
    {% else %}
    <button class="btn btn-primary"><a class="text-light" href="#">&laquo;Previous</a></button>
    {% endif %}


    {% if next %}
    <button class="btn btn-primary float-right"><a class="text-light" href="/news?page={{next}}">Next
        &raquo;</a></button>
    {% else %}
    <button class="btn btn-primary float-right"><a class="text-light" href="#">Next &raquo;</a></button>
    {% endif %}
  </div>
</div>


{% endblock body %}