{% extends 'base.html' %}
{% block newsactive %}active{% endblock newsactive %}
{% block title %}
News
{% endblock title %}
{% block body %}



<h2 style='text-align:center;'> Latest News </h2>

{% for titles, place,time,mag,coordinates,url,alert,magType in data %}

<div class="m-4 p-3 border">
    <p class="mb-0 "> Place: {{place}}</p>
    <h4>{{titles}}</h4>
    <p class="mb-0 "> Time: {{time}}</p>
    <p class="mb-0 "> Magnitude: {{mag}}{{magType}}</p>
    <p class="mb-0 "> coordinates: {{coordinates}}</p>
    <p class="mb-0 "> Alert(if any): {{alert}}</p>
    <a href="{{url}}">View Details</a>
</div>



{% endfor %}



{% endblock body %}