{% extends 'base.html' %}
{% block weatheractive %}active{% endblock weatheractive %}
{% block title %}
Weather
{% endblock title %}

{% block body %}



<div class="container my-3">
  <h1 class="text-center">Weather</h1>
  <br />
  <div class="row justify-content-center">
    <form method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group text-center">
        <input type="text" class="form-control" name="city" placeholder="Enter City Name">
        <div class="input-group-btn">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  {% if location %}
  <div>
    <h4>Location: {{location}}</h4><br>
    <h4>Time Observation: {{time}}</h4><br>
    <h4>Temperature: {{temp}}</h4><br>
    <h4>Icon: <img src="{{icon}}"></img></h4><br>
    <h4>Weather Condition: {{condition}}</h4><br>
    <h4>Humidity: {{humidity}}</h4><br>
    <h4>Alert: {{alert}}</h4>
  </div>
  {% endif %}
</div>
</div>




{% endblock body %}